<a href="https://colab.research.google.com/github/97jojo97/Mr.-Ranedeer-AI-Tutor/blob/main/Lab_3__HowToMngData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to manage data

## List

Well done so far! This is your introduction to structured data.

Today, we're going to introduce the list data type, and
lists are much more powerful than strings, so whereas for a string, all of the elements had to be characters, in a list, the elements can be anything we want. They could be characters. They could be strings. They could be numbers. They could also be other lists.

Like a string, a **list** is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in list are called **elements** or sometimes **items**.

List elements are written within square brackets [ ]. Square brackets [ ] access data, with the first element at index 0.  Many of the operations defined above for strings also apply to lists. So it can be convenient to think of a string simply as a list of characters.

In [1]:
colors = ['red', 'blue', 'green']
print(colors[0])
print(colors[1])
print(colors[2])
print("")

print('red' in colors)
print('black' in colors)
print("")

numbers = [5, 4, 3, 2, 1, 'hello', 2.3]
print(len(numbers))

print()
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
print()


# Empty list
c = []

red
blue
green

True
False

7

In [2]:
# Assignment with an = on lists does not make a copy.
# Instead, assignment makes the two variables
# point to the one list in memory.
b = a = [1,2,3,5,6]
a.append(0)
a = [4,5]
print(b)
print(a)

# Note: The above is true for all objects in Python, not only lists.
# (We'll talk more about objects later)

[1, 2, 3, 5, 6, 0]
[4, 5]

## Exercise 1:

In [6]:

months = ['January', "February", "March", "April", "May", "June", "July",
          "August", "September", "October", "November", "December"]
days = [31,28,31,30,31,30,31,31,30,31,30,31]

# Define a function that inputs a string with the month and returns the number
# of days in that month.

def month_day(month):
   ##code here#

    return days[months.index(month)]




print(month_day('June'))
print(month_day('July'))
print(month_day('December'))

30
31
31

## Exercise 2:

In [13]:
# Nested Lists Example, let's use population (thousands).
countries = [['China','Beijing', 1350],
             ['India','Delhi',1210],
             ['United States','Washington DC', 309],
             ['Malaysia','Kuala Lumpur',29]]

# Define a function that input two countries
# How many times bigger is the population of China, India, and the US relative to Malaysia?

def compare_population(target_country, reference_country = 'Malaysia'):
  ## code here ##
  for country in countries:
    if country[0]==target_country:
      population=country[2]
    if country[0]==reference_country:
      population_ref=country[2]

  print(target_country ,' is ',population/population_ref, ' times bigger than ', reference_country)

country_list= []
for country in countries:

  country_list.append(country[0])

print(country_list)

for i in country_list:
  if i=='Malaysia':
    break
  compare_population(i)

['China', 'India', 'United States', 'Malaysia']
China  is  46.55172413793103  times bigger than  Malaysia
India  is  41.724137931034484  times bigger than  Malaysia
United States  is  10.655172413793103  times bigger than  Malaysia

## Mutation

In [40]:
# A big difference is strings can't mutate - they can't change the
# existing object.
s = 'Hello'
print((s + '!'))
print(s)
print((s[0]))

#String is immutable
#s[0] = "Y"

Hello!
Hello
H

In [15]:
# But Lists are mutable: once an object is mutable, then we
# have to worry about other variables that might
# refer to the same object.
p = ['H','e','l','l','o']
q = p
p[0] = 'Y'
print(q)

['Y', 'e', 'l', 'l', 'o']

In [ ]:
# Assignment with an = on lists does not make a copy.
# Instead, assignment makes the two variables
# point to the one list in memory.
num = [4,5,6,8,9]
b = num
print(num)
num.append(0)
print(num)
print(b)

[4, 5, 6, 8, 9]
[4, 5, 6, 8, 9, 0]
[4, 5, 6, 8, 9, 0]

### List Methods

- list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
- list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
- list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
- list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
- list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
- list.sort() -- sorts the list in place (does not return it).
- sorted(list) -- return sorted list but keeps the original order of the list
- list.reverse() -- reverses the list in place (does not return it)
- list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [16]:
colors = ['red', 'green', 'blue']
print(colors)
colors.append('purple')
print(colors)
colors.insert(1, 'yellow')
print(colors)
print()

['red', 'green', 'blue']
['red', 'green', 'blue', 'purple']
['red', 'yellow', 'green', 'blue', 'purple']

In [17]:
new_list = ['cyan', 'white']
colors.extend(new_list)
print(colors)

print(colors.index('purple'))

['red', 'yellow', 'green', 'blue', 'purple', 'cyan', 'white']
4

In [ ]:
colors.remove('white')
print(colors)

#use del
del colors[1]
print()

['red', 'yellow', 'green', 'blue', 'purple', 'cyan']

In [ ]:
colors.sort()
print(colors)
print()

colors.sort(reverse=True)
print(colors)
print()

print(colors)
colors.reverse()
print()

print((sorted(colors, reverse=True)))

['blue', 'cyan', 'green', 'purple', 'red']

['red', 'purple', 'green', 'cyan', 'blue']

['red', 'purple', 'green', 'cyan', 'blue']

['red', 'purple', 'green', 'cyan', 'blue']

In [ ]:
print(colors)
print(colors.pop(1))
print(colors)
print()

#pop
colors.pop()
print(colors)

['blue', 'cyan', 'green', 'purple', 'red']
cyan
['blue', 'green', 'purple', 'red']

['blue', 'green', 'purple']

In [ ]:
colors = ['red', 'yellow', 'green', 'blue', 'purple', 'cyan']
print(colors)

print((sorted(colors)))

['red', 'yellow', 'green', 'blue', 'purple', 'cyan']
['blue', 'cyan', 'green', 'purple', 'red', 'yellow']

In [22]:
# If you run the following four lines of codes, what are list1 and list2?

list1 = [1,2,3,4]
list2 = [1,2,3,4]


print(list1 is list2)

list1 = list1 + [5, 6]
print(list1)
print()

list1.extend([7,8])
print(list1)
print()

list2.append([5, 6])
print(list2)

False
true
[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, [5, 6]]

### List Slices

Slices work on lists just as with strings, and can also be used to change sub-parts of the list.

In [ ]:
cars = ['Toyota', 'BMW', 'Honda', 'Benz', 'Isuzu', 'Volkswagen', 'Mazda']

print(cars[1:3])
print(cars[1:-1])
print(cars[:3])

['BMW', 'Honda']
['BMW', 'Honda', 'Benz', 'Isuzu', 'Volkswagen']
['Toyota', 'BMW', 'Honda']

### For & In (Or Loops on Lists)

Python's *for* and *in* constructs are extremely useful, and the first use of them we'll see is with lists. The *for* construct -- for var in list -- is an easy way to look at each element in a list (or other collection).

In [ ]:
# Loop through a list using while
a = [1,2,3,4,5]
i = 0
len_a = len(a)

while i < len_a:
    print(a[i])
    i += 1

1
2
3
4
5

In [ ]:
# Syntax of for and in:

# for each_element in a_list:
    #Iterate through each element
    #and run this code on each element
    #where  each_element refers to the item.

b = [1,2,3,4,7,8,9,10]
for items in b:
    print(items)

1
2
3
4
7
8
9
10

In [ ]:
print(type(colors))
print(colors)

for color in colors:
    print(color)
    print((color.title()))
    print()

<class 'list'>
['blue', 'green', 'purple']
blue
Blue

green
Green

purple
Purple

## Exercise 3:

In [5]:
# Define sum_list.
i=0
j=0
def sum_list(your_list):
    ## your code here ##
    for each_element in your_list:
      global i
      i+=each_element
      global j
      j+=1
      if j==len(your_list):
        print(i)

squares = [1, 4, 9, 16, 25]
sum_list(squares)

55

## Exercise 4:

In [7]:
# Write a function to find whether a number appear in a list
# Return "Found!" or "Not found!"

def find(num, li):
    ##your code here##
    if num in li:
      print('Found!')
    else:
      print('Not found!')

find(10, list(range(100)))
find(250, list(range(100)))

Found!
Not found!

In [9]:
#try with longer lists
find(999999, list(range(1000000)))
find('ah', list(range(1000000)))

Found!
Not found!

## Exercise 5:

In [11]:
# Define a function that print the list of a specified list after
# removing even numbers from it

num = [7,8, 120, 25, 44, 20, 27]
def remove_even(x):
    ##your code here#
    #first remove even
    filtered=[i for i in x if i%2!=0 ]
    print(filtered)


remove_even(num)

[7, 25, 27]

In [12]:
# Define a function that gives the union of lists.

a = ['Orange','Banana','Apple']
b = ['Banana', 'Orange','Durian']

def union_of_lists(seta,setb):
    return set().union(seta,setb)

union_of_lists(a,b)

{'Apple', 'Banana', 'Durian', 'Orange'}

### Enumerate

To find out the index of the item in the loop we can use list.index(elem), but there is another way to do this using enumerate().

In [13]:
my_list = ['happy', 'sad', 'angry']

index_counter = 0
for entry in my_list:
    print("Index of %s is: %s" %(entry, index_counter))
    index_counter += 1

# Here we use another built-in function list([iterable])
# which returns a list whose items are the same and
# in the same order as iterableâ€˜s items).

print(list(enumerate(my_list)))

for i, element in enumerate(my_list):
    print(i, element)

Index of happy is: 0
Index of sad is: 1
Index of angry is: 2
[(0, 'happy'), (1, 'sad'), (2, 'angry')]
0 happy
1 sad
2 angry

In [14]:
# We may easily change the start count/index with help of enumerate(sequence, start=0)
for index, item in enumerate(my_list, start = 1):
    print(index, my_list)

1 ['happy', 'sad', 'angry']
2 ['happy', 'sad', 'angry']
3 ['happy', 'sad', 'angry']

### Range

The range(n) function yields the numbers 0, 1, ... n-1, and range(a, b) returns a, a+1, ... b-1 -- up to but not including the last number.

In [15]:
square =[1,4,9,16,25]

a = list(range(100, 110))
print(a)

b = list(range(5))
print(b)

for i in range(5):
    print(i)

print()
for i in range(len(squares)):
    print(squares[i])

print()

for square in squares:
    print(square)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]
[0, 1, 2, 3, 4]
0
1
2
3
4

1
4
9
16
25

1
4
9
16
25

In [24]:
# Write a function program to print a specified list
# after removing the 0th, 3rd and 4th items

my_list= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

def remove_list(list1):
   ##your code here##
   list1.pop(0)
   list1.pop(2)
   list1.pop(2)

remove_list(my_list)
print(my_list)

['Green', 'White', 'Yellow']

## Lambda

Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called "lambda".

Normal python function:
```python
def f (x):
    return x**2

f(8)
```
while for lambda:

```python
g = lambda x: x**2
print(g(8))
```
Lambda functions are mainly used in combination with the functions filter() and map().

In [25]:
f = lambda x, y : x + y

f(2,3)

5

In [29]:
#lambda examples

# example 1
sentence = 'It is raining cats and dogs'

word=sentence.split()
# print(word)
for i in word:
    count=len(i)
    print(count)

g=map(lambda num: len(num), word)
print(list(g))

# example 2
a = [2,3,5,6,7,8]

def power(a):
    return a**2


# map()
h = map(lambda num1: power(num1), a)
print(list(h))

# filter ()
h=filter(lambda num1: num1%2==0, a)
print(list(h))

2
2
7
4
3
4
[2, 2, 7, 4, 3, 4]
[4, 9, 25, 36, 49, 64]
[2, 6, 8]

### List Comprehensions

A list comprehension is a compact expression to define a whole set.  It can be used to construct lists in a very natural, easy way, like a mathematician is used to do.

The following comprehension says "For each item in numbers, square it and add it to a new list squares."

While we could also do this using a for-loop, it's often more convenient to use a list comprehension.

```python
for element in iterable:
     if condition(element):
        output.append(expression(element))
```

The same gets implemented in a simple LC construct in a single line as:
```python
[ expression(element) for element in iterable if condition(element) ]
```

In [30]:
# without list comprehension
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

squares = []
for n in numbers:
    squares.append(n*n)
print(squares)

# with list comprehension
squares = [n*n for n in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64]

In [32]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

squaresUnderFive = [n*n for n in numbers if n <= 5]

print(squaresUnderFive)

[1, 4, 9, 16, 25]

In [33]:
print([s*2 for s in squaresUnderFive if s > 10])

[32, 50]

In [34]:
# An example of a list comprehension with strings
fruits = ['banana', 'apple', 'cherry', 'lime', 'mango']

my_list = [s.upper() + '!!!' for s in fruits if 'a' in s]

print(my_list)

['BANANA!!!', 'APPLE!!!', 'MANGO!!!']

### Exercise
Write one line of Python that takes this list a and makes a new list that has only the odd  elements and power it with 3

In [35]:
# Write one line of Python that takes this list a
# and makes a new list that has only the odd
# elements and power it with 3

a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [x**3 for x in a if x%2==1]
print(b)

[1, 729, 15625, 117649, 531441]

### Del

The "del" operator does deletions. In the simplest case, it can remove the definition of a variable, as if that variable had not been defined. Del can also be used on list elements or slices to delete that part of the list and to delete entries from a dictionary.

In [36]:
var = 6
del var  # var no more!

my_list = ['a', 'b', 'c', 'd']
del my_list[0]     ## Delete first element
del my_list[-2:]   ## Delete last two elements
print(my_list)      ## ['b']

['b']

## Tuples

A tuple is a fixed size grouping of elements, such as an (x, y) co-ordinate. Tuples are like lists, except they are immutable and do not change size (tuples are not strictly immutable since one of the contained elements could be mutable). Tuples are a convenient way to pass around a little logical, fixed size bundle of values. A function that needs to return multiple values can just return a tuple of the values.

In [39]:
tup = (1, 2.3, 'hi', ['hi'])
print(type(tup))
print((len(tup)))

print((tup[2]))

#tup[2] = 'bye' # tuple element cannot be changed
tup = (1, 2, 'bye')

x,y,z = (42, 13, "hike")

list2 = [1,2,3]

print((z, y))

<class 'tuple'>
4
hi
('hike', 13)